<a href="https://colab.research.google.com/github/PrajwalKerudi/Python/blob/main/Python_Funct_List_Comp_assingnment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Function Concepts (Single Return Values)

In [1]:
#1.	Write a function wish(name) that returns "Hello, Good Morning <name>!".

def wish(name):
    return f"Hello, Good Morning {name}!"

print(wish("Prajwal"))

Hello, Good Morning Prajwal!

In [2]:
#2.	Write a function cube(n) that returns the cube of a number (n³).

def cube(n):
    return n ** 3

print(cube(4))

64

In [3]:
#3.	Write a function check_even(n) that returns True if the number is even, else False

def check_even(n):
    return n % 2 == 0

print(check_even(10))
print(check_even(7))

True
False

In [4]:
#4.	Write a function greatest_of_two(a, b) that returns the larger of two numbers

def greatest_of_two(a, b):
    if a > b:
        return a
    else:
        return b

print(greatest_of_two(10, 20))
print(greatest_of_two(50, 30))

20
50

In [5]:
#5.	Write a function count_letters(s) that returns the number of characters in a string

def count_letters(s):
    return len(s)

print(count_letters("Prajwal"))
print(count_letters("Hello, World!"))

7
13

In [6]:
#6.	Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)

def power(value, exp=2):
    return value ** exp

print(power(5))
print(power(3, 3))
print(power(2, 4))

25
27
16

Returning Multiple Values

In [7]:
#7.	Write a function swap(a, b) that returns the two values swapped as a tuple

def swap(a, b):
    return b, a

x, y = swap(10, 20)
print(x, y)

20 10

In [8]:
#8.	Write a function add_sub(a, b) that returns both sum and difference of two numbers

def add_sub(a, b):
    return a + b, a - b

sum_result, diff_result = add_sub(10, 5)
print("Sum:", sum_result)
print("Difference:", diff_result)

Sum: 15
Difference: 5

In [9]:
#9.	Write a function circle_stats(radius) that returns the area and circumference as a tuple.

import math

def circle_stats(radius):
    area = math.pi * radius ** 2
    circumference = 2 * math.pi * radius
    return area, circumference

area_result, circ_result = circle_stats(5)
print("Area:", area_result)
print("Circumference:", circ_result)

Area: 78.53981633974483
Circumference: 31.41592653589793

In [10]:
#10.	Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.

def min_max_sum(nums):
    return min(nums), max(nums), sum(nums)

numbers = [10, 5, 8, 20, 3]
minimum, maximum, total = min_max_sum(numbers)
print("Minimum:", minimum)
print("Maximum:", maximum)
print("Sum:", total)

Minimum: 3
Maximum: 20
Sum: 46

Working with Strings & Formatting

In [11]:
#11.	Write a function concat(*parts) that joins multiple strings together with spaces.

def concat(*parts):
    return " ".join(parts)

result = concat("Hello", "Good", "Morning", "Prajwal")
print(result)

Hello Good Morning Prajwal

In [12]:
#12.	Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".

def format_name(first, last=""):
    if last:
        return f"{last}, {first}"
    else:
        return first

print(format_name("Prajwal", "Kerudi"))
print(format_name("Prajwal"))

Kerudi, Prajwal
Prajwal

In [13]:
#13.	Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".

def greet_user(first, last):
    return f"Welcome, {first} {last}!"

print(greet_user("Prajwal", "Kerudi"))

Welcome, Prajwal Kerudi!

Lambda Functions

In [14]:
#14.	Write a lambda function to add two numbers.

add = lambda x, y: x + y

print(add(5, 3))
print(add(10, 20))

8
30

In [15]:
#15.	Write a lambda function mult = lambda *args: that returns the product of all arguments

from functools import reduce
import operator

mult = lambda *args: reduce(operator.mul, args, 1)

print(mult(2, 3, 4))
print(mult(5, 10))
print(mult())

24
50
1

In [16]:
#16.	Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].

flatten = lambda lst: [x for pair in lst for x in pair]

pairs = [(1, 2), (3, 4), (5, 6)]
print(flatten(pairs))

[1, 2, 3, 4, 5, 6]

Recursive, Higher-Order & Inner Functions

In [17]:
#17.	Write a recursive function factorial(n) that returns the factorial of a number.

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))
print(factorial(0))

120
1

In [18]:
#18.	Write a function apply_twice(func, x) that applies a function twice → func(func(x)).

def apply_twice(func, x):
    return func(func(x))

def add_five(n):
    return n + 5

result = apply_twice(add_five, 10)
print(result)

20

In [19]:
#19.	Write a function inner_demo() that defines and calls an inner function inside it.

def inner_demo():
    def inner_function():
        print("This is the inner function!")

    inner_function()
    print("This is the outer function!")

inner_demo()

This is the inner function!
This is the outer function!

In [20]:
#20.	Write a function call_function(func, value) that takes another function as a parameter and applies it

def call_function(func, value):
    return func(value)

def square(n):
    return n ** 2

result = call_function(square, 5)
print(result)

result2 = call_function(lambda x: x + 10, 7)
print(result2)

25
17

In [21]:
#21.	Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares

def square_list(nums):

    def square(x):
        return x ** 2

    return [square(n) for n in nums]

numbers = [1, 2, 3, 4, 5]
squares = square_list(numbers)
print(squares)

[1, 4, 9, 16, 25]

Intermediate Function Concepts

In [22]:
#22.	Write a function make_multiplier(m) that returns a new function which multiplies input values by m.

def make_multiplier(m):
    def multiplier(x):
        return x * m
    return multiplier

times3 = make_multiplier(3)
times5 = make_multiplier(5)
print(times3(10))
print(times5(4))

30
20

In [23]:
#23.	Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.

def filter_primes(nums):

    def is_prime(n):
        if n < 2:
            return False
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                return False
        return True

    return [num for num in nums if is_prime(num)]

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
primes = filter_primes(numbers)
print(primes)

[2, 3, 5, 7, 11]

In [24]:
#24.	Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
#Formula: F = C * 9/5 + 32

def convert_to_fahrenheit(celsius_list):
    return list(map(lambda c: c * 9/5 + 32, celsius_list))

celsius_temps = [0, 20, 37, 100]
fahrenheit_temps = convert_to_fahrenheit(celsius_temps)
print(fahrenheit_temps)

[32.0, 68.0, 98.6, 212.0]

In [25]:
#25.	Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.

def apply_if(func, predicate, iterable):
    return [func(x) for x in iterable if predicate(x)]

numbers = [1, 2, 3, 4, 5, 6]

result = apply_if(lambda x: x**2, lambda x: x % 2 == 0, numbers)
print(result)

result2 = apply_if(lambda x: x + 10, lambda x: x > 3, numbers)
print(result2)

[4, 16, 36]
[14, 15, 16]

In [26]:
#26.	Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).

def curry(func):
    return lambda a: lambda b: func(a, b)

def add(x, y):
    return x + y

curried_add = curry(add)
print(curried_add(5)(10))

def multiply(x, y):
    return x * y

curried_multiply = curry(multiply)
print(curried_multiply(3)(4))

15
12

In [27]:
#27.	Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.

def variadic_sum(*args, **kwargs):
    total = sum(args)
    scale = kwargs.get("scale", 1)
    return total * scale

print(variadic_sum(1, 2, 3))
print(variadic_sum(1, 2, 3, scale=2))
print(variadic_sum(4, 5, 6, scale=0.5))

6
12
7.5

In [28]:
#28.	Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.

def sort_by_length(strings):
    return sorted(strings, key=lambda s: len(s))

words = ["apple", "banana", "kiwi", "cherry", "fig"]
sorted_words = sort_by_length(words)
print(sorted_words)

['fig', 'kiwi', 'apple', 'banana', 'cherry']

List Comprehensions

In [35]:
#29.	Create [1,2,3,4] → list of their squares.

numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]
print(squares)

[1, 4, 9, 16]

In [36]:
#30.	Create ['a','b','c'] → list of their uppercase versions.

letters = ['a', 'b', 'c']
uppercase_letters = [ch.upper() for ch in letters]
print(uppercase_letters)

['A', 'B', 'C']

In [37]:
#31.	Make a list of even numbers from 1 to 20.

even_numbers = [n for n in range(1, 21) if n % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
#32.	Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].

words = ['apple', 'bee', 'cat']
word_lengths = [(word, len(word)) for word in words]
print(word_lengths)

[('apple', 5), ('bee', 3), ('cat', 3)]

In [40]:
#33.	Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].

nested_list = [[1, 2], [3, 4], [5]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5]

In [41]:
#34.	From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.

nums = [0, 1, 2, 3]
even_odd = ['even' if n % 2 == 0 else 'odd' for n in nums]
print(even_odd)

['even', 'odd', 'even', 'odd']

In [42]:
#35.	Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

numbers = [0, 1, 2, 3, 4, 5, 6, 7]
prime_flags = [is_prime(n) for n in numbers]
print(prime_flags)

[False, False, True, True, False, True, False, True]

In [43]:
#36.	From range(1,50), select numbers divisible by both 2 and 3.

numbers = [n for n in range(1, 50) if n % 2 == 0 and n % 3 == 0]
print(numbers)

[6, 12, 18, 24, 30, 36, 42, 48]

In [44]:
#37.	Create coordinate pairs (i, j) where i and j go from 0 to 2.

coordinates = [(i, j) for i in range(3) for j in range(3)]
print(coordinates)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [45]:
#38.	From ['a b','c d e'], produce a flat list of all words.

strings = ['a b', 'c d e']
words = [word for s in strings for word in s.split()]
print(words)

['a', 'b', 'c', 'd', 'e']

Using Lists of Dictionaries

In [46]:
#39.	Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.

students = [{'name':'A','score':80}, {'name':'B','score':60}]
high_scorers = [student['name'] for student in students if student['score'] >= 75]
print(high_scorers)

['A']

In [47]:
#40.	Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.

numbers = [{'n': n, 'square': n*n} for n in range(1, 11)]
print(numbers)

[{'n': 1, 'square': 1}, {'n': 2, 'square': 4}, {'n': 3, 'square': 9}, {'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}]

In [48]:
#41.	Merge two lists element-wise into tuples, but include only pairs where both elements are truthy

list1 = [1, 0, 3, 4]
list2 = [5, 6, 0, 8]

merged = [(a, b) for a, b in zip(list1, list2) if a and b]
print(merged)

[(1, 5), (4, 8)]

In [49]:
#42.	Create a comprehension to transpose a matrix (swap rows ↔ columns).

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Advanced Comprehensions

In [50]:
#43.	Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.

nested_list = [[[1, 2], [3]], [[4]]]
flat_list = [item for sublist1 in nested_list for sublist2 in sublist1 for item in sublist2]
print(flat_list)

[1, 2, 3, 4]

In [51]:
#44.	Write a comprehension that keeps only unique items from a list while preserving order.

items = [1, 2, 2, 3, 4, 1, 5]
seen = set()
unique_items = [x for x in items if not (x in seen or seen.add(x))]
print(unique_items)

[1, 2, 3, 4, 5]

In [52]:
#45.	Find all indices (positions) where a given number appears in a list.

numbers = [1, 2, 3, 2, 4, 2, 5]
target = 2

indices = [i for i, num in enumerate(numbers) if num == target]
print(indices)

[1, 3, 5]

In [53]:
#46.	Generate all palindromic numbers (as strings) between 1 and 999.

palindromes = [str(n) for n in range(1, 1000) if str(n) == str(n)[::-1]]
print(palindromes)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

In [54]:
#47.	Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs

d = {'a': [1, 2], 'b': [3]}
pairs = [(key, value) for key, values in d.items() for value in values]
print(pairs)

[('a', 1), ('a', 2), ('b', 3)]

In [55]:
#48.	Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [p for p in range(2, 100) if is_prime(p)]

prime_pairs = [(p, q) for p in primes for q in primes if is_prime(p + q)]
print(prime_pairs)

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71), (3, 2), (5, 2), (11, 2), (17, 2), (29, 2), (41, 2), (59, 2), (71, 2)]

In [56]:
#49.	Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.

n = 4

lower_triangular = [[1 if j <= i else 0 for j in range(n)] for i in range(n)]
for row in lower_triangular:
    print(row)

[1, 0, 0, 0]
[1, 1, 0, 0]
[1, 1, 1, 0]
[1, 1, 1, 1]

In [57]:
#50.	Generate all possible sequences of length 4 from 'abcd' with no repeated letters.

from itertools import permutations

chars = 'abcd'
sequences = [''.join(p) for p in permutations(chars, 4)]
print(sequences)

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']