<a href="https://colab.research.google.com/github/PrajwalKerudi/Python/blob/main/Python_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Syntax & IO

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
#Take user input and print it

name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: Prajs
Hello, Prajs!

In [ ]:
# Swap two variables

a = input("Enter value of a: ")
b = input("Enter value of b: ")

a, b = b, a
print("after swapping: ")
print("a: ", a)
print("b: ", b)

Enter value of a: 2
Enter value of b: 1
after swapping:
a:  1
b:  2

In [ ]:
#Check if a number is even or odd
num = int(input("Enter a number: "))

if num % 2 == 0:
  print(num, "is even")
else:
  print(num, "is odd")

Enter a number: 6
6 is even

In [ ]:
#Find the largest of two numbers

a  = int(input("Enetr first number (a): "))
b = int(input("Enter second number (b): "))

if a > b:
  print("The largest number is: ", a)
elif b > a:
  print("The largest number is: ", b)
else:
  print("Both are equal")

Enetr first number (a): 12
Enter second number (b): 13
The largest number is:  13

 Operators

In [ ]:
# Perform arithmetic operations (+, -, *, /, %, **), take any values as “a” and “b”

a = float(input("Enter first number (a): "))
b = float(input("Enter second number (b): "))

print("Addition: ", a + b)
print("Subtraction: ", a - b)
print("Multiplication: ", a * b)
print("Division: ", a / b)
print("Modulus: ", a % b)
print("Exponetiation: ", a == b)

Enter first number (a): 54
Enter second number (b): 45
Addition:  99.0
Subtraction:  9.0
Multiplication:  2430.0
Division:  1.2
Modulus:  9.0
Exponetiation:  False

In [ ]:
# Calculate the square and cube of a number

num = float(input("Enter a number: "))

print("Square", num ** 2)
print("Cube", num ** 3)

Enter a number: 6
Square 36.0
Cube 216.0

In [ ]:
# Convert Celsius to Fahrenheit (F = (C * 9/5) + 32)

num = float(input("Enter temperature as celcius: "))

fahrenheit = (num * 9/5) + 32

print("temperature in fahren", fahrenheit)

Enter temperature as celcius: 25
temperature in fahren 77.0

In [ ]:
# Convert kilometers to miles (1 km = 0.621371 miles)

km = float(input("Enter distance in kilometers: "))

miles = km * 0.621371

print("distance in miles: ", miles)

Enter distance in kilometers: 10
distance in miles:  6.21371

In [ ]:
#Check if a number is positive, negative, or zero

num = float(input("Enter a number: "))

if num > 0:
  print("The number is positive.")
elif num < 0:
  print("The number is negative. ")
else:
  print("The number is zero")

Enter a number: 6
The number is positive.

Conditional Statements

In [ ]:
#Find the largest of three numbers

a = int(input("Enter first number (a): "))
b = int(input("Enter second number (b): "))
c = int(input("Enter thrird number (c): "))

if a>b and a>c:
  print("the largest number is: ", a)
elif b>a and b>c:
  print("the largest number is: ", b)
else:
  print("the largest number is: ",c)

Enter first number (a): 3
Enter second number (b): 9
Enter thrird number (c): 6
the largest number is:  9

In [ ]:
#Check if a year is a leap year. A leap year is a year that is divisible by 4, but if it is a
 # ,century year (divisible by 100), it must also be divisible by 400 to be a leap year.

year = int(input("Enter a year: "))

if (year % 4 == 0):
  if (year % 100 == 0):
    if (year % 400 == 0):
      print(year, "is a leap year. ")
    else:
      print(year, "is not a leap year. ")
  else:
    print(year, "is a leap year. ")
else:
  print(year, "is not a leap year. ")

Enter a year: 2003
2003 is not a leap year.

In [ ]:
#Check if a character is a vowel or consonant

ch = input("Enter an alphabet: ").lower()

if ch.isalpha():
  if ch in ['a', 'e', 'i', 'o', 'u']:
    print(ch, "is a vowel")
  else:
    print(ch, "is a consonant")
else:
  print("Invalid input! Please enter an alphabet")

Enter an alphabet: o
o is a vowel

In [ ]:
# Write a Python program to assign the grades to each subject based on the grade

Maths = 85
Science = 78
English = 92

def get_grade(marks):
  if 90<= marks <=100:
    return 'A'
  elif 80<= marks <=89:
    return 'B'
  elif 70<= marks <=79:
    return 'C'
  elif 60<= marks <=69:
    return 'D'
  elif 50<= marks <=59:
    return 'E'
  else:
    return 'F'

print("Maths: ", get_grade(Maths))
print("Science: ", get_grade(Science))
print("English: ", get_grade(English))

Maths:  B
Science:  C
English:  A

In [ ]:
#Write a program to check if a number is divisible by both 5 and 11

num = int(input("Enter a number: "))

if num % 5 == 0 and num % 11 == 0:
  print(num, "is divisible by both 5 and 11")
else:
  print(num, "is not divisible by both 5 and 11")

Enter a number: 55
55 is divisible by both 5 and 11

Loops

In [ ]:
#Print numbers from 1 to the given number N

N = int(input("Enter a number: "))

print("Numbers from 1 to", N, ":")
for i in range(1, N + 1):
    print(i)

Enter a number: 5
Numbers from 1 to 5 :
1
2
3
4
5

In [ ]:
#Print even numbers up to the given number N

N = int(input("Enter a number: "))

print("Even numbers up to", N, ":")
for i in range(2, N + 1, 2):
    print(i)

Enter a number: 10
Even numbers up to 10 :
2
4
6
8
10

In [ ]:
# Sum of first N natural numbers (sum = n * (n+1) / 2)

n = int(input("Enter a number: "))

sum_n = n * (n + 1) // 2

print("The sum of the first", n, "natural numbers is:", sum_n)

Enter a number: 10
The sum of the first 10 natural numbers is: 55

In [ ]:
# Calculate the factorial of a number (n! = n × (n-1) × ... × 1) without using def function

n = int(input("Enter a number: "))

fact = 1

for i in range(1, n + 1):
    fact *= i

print("The factorial of", n, "is:", fact)

Enter a number: 5
The factorial of 5 is: 120

In [ ]:
#Print multiplication table of a number 5.

num = int(input("Enter a number to print its multiplication table: "))

print("Multiplication Table of", num)
for i in range(1, 11):
    print(num, "*", i, "=", num * i)

Enter a number to print its multiplication table: 5
Multiplication Table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Strings

In [ ]:
#Write a program to Reverse a given string (at least 2 ways)

text = input("Enter a string: ")

reversed_text = text[::-1]

print("Reversed string (Method 1):", reversed_text)

Enter a string: hello
Reversed string (Method 1): olleh

In [ ]:
text = input("Enter a string: ")

reversed_text = ""
for ch in text:
    reversed_text = ch + reversed_text

print("Reversed string (Method 2):", reversed_text)

Enter a string: hello
Reversed string (Method 2): olleh

In [ ]:
# Count the number of vowels in a string

text = input("Enter a string: ")

vowels = "aeiouAEIOU"

count = 0

for ch in text:
    if ch in vowels:
        count += 1

print("Number of vowels in the string:", count)

Enter a string: prajwal
Number of vowels in the string: 2

In [ ]:
#Check if a string is a palindrome

text = input("Enter a string: ")

clean_text = text.replace(" ", "").lower()

if clean_text == clean_text[::-1]:
    print(f'"{text}" is a palindrome.')
else:
    print(f'"{text}" is not a palindrome.')

Enter a string: racecar
"racecar" is a palindrome.

In [ ]:
# Convert uppercase to lowercase and vice versa

text = input("Enter a string: ")

converted_text = text.swapcase()

print("Converted string:", converted_text)

Enter a string: Hello Prajwal
Converted string: hELLO pRAJWAL

In [ ]:
# Find the length of a string without using len() function

text = input("Enter a string: ")

length = 0

for char in text:
    length += 1

print("The length of the string is:", length)

Enter a string: Prajwal
The length of the string is: 7

 Lists

In [ ]:
#Find the largest element in a list

numbers = [12, 45, 7, 89, 34]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("The largest element in the list is:", largest)

The largest element in the list is: 89

In [ ]:
#Find the smallest element in a list

numbers = [12, 45, 7, 89, 34]

smallest = numbers[0]

for num in numbers:
    if num < smallest:
        smallest = num

print("The smallest element in the list is:", smallest)

The smallest element in the list is: 7

In [ ]:
#Find the sum of elements in a list

numbers = [12, 45, 7, 89, 34]

total = 0

for num in numbers:
    total += num

print("The sum of the elements in the list is:", total)

The sum of the elements in the list is: 187

In [ ]:
#Sort a list in ascending order

numbers = [45, 12, 89, 7, 34]

numbers.sort()

print("List in ascending order:", numbers)

List in ascending order: [7, 12, 34, 45, 89]

In [ ]:
#Remove duplicates from a list

numbers = [12, 45, 7, 12, 89, 7, 34]

unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print("List after removing duplicates:", unique_numbers)

List after removing duplicates: [12, 45, 7, 89, 34]

Tuples

In [ ]:
#Find the maximum and minimum number in a tuple

numbers = (12, 45, 7, 89, 34)

maximum = max(numbers)
minimum = min(numbers)

print("Maximum number in the tuple is:", maximum)
print("Minimum number in the tuple is:", minimum)

Maximum number in the tuple is: 89
Minimum number in the tuple is: 7

In [ ]:
#Convert a tuple to a list

my_tuple = (12, 45, 7, 89, 34)

my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("Converted List:", my_list)

Tuple: (12, 45, 7, 89, 34)
Converted List: [12, 45, 7, 89, 34]

In [ ]:
#Count occurrences of an element in a tuple

my_tuple = (12, 45, 7, 12, 89, 7, 12)

element = int(input("Enter the element to count: "))

count = my_tuple.count(element)

print(f"The element {element} occurs {count} time(s) in the tuple.")

Enter the element to count: 12
The element 12 occurs 3 time(s) in the tuple.

In [ ]:
# Find the index of an element in a tuple

my_tuple = (12, 45, 7, 89, 34, 7)

element = int(input("Enter the element to find its index: "))

if element in my_tuple:
    index = my_tuple.index(element)
    print(f"The element {element} is at index {index}.")
else:
    print(f"The element {element} is not in the tuple.")

Enter the element to find its index: 7
The element 7 is at index 2.

In [ ]:
# Reverse a tuple

my_tuple = (12, 45, 7, 89, 34)

reversed_tuple = my_tuple[::-1]

print("Original tuple:", my_tuple)
print("Reversed tuple:", reversed_tuple)

Original tuple: (12, 45, 7, 89, 34)
Reversed tuple: (34, 89, 7, 45, 12)

Sets

In [ ]:
# Create empty set

my_set = set()

print("Empty set:", my_set)

Empty set: set()

In [ ]:
# Perform union of two sets

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

union_set_operator = set1 | set2
print("Union using | operator:", union_set_operator)

Union of set1 and set2: {1, 2, 3, 4, 5, 6}
Union using | operator: {1, 2, 3, 4, 5, 6}

In [ ]:
# Perform intersection of two sets

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

intersection_set_operator = set1 & set2
print("Intersection using & operator:", intersection_set_operator)

Intersection of set1 and set2: {3, 4}
Intersection using & operator: {3, 4}

In [ ]:
# Perform difference of two sets

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

difference_set = set1.difference(set2)
print("Difference (set1 - set2):", difference_set)

difference_set_operator = set1 - set2
print("Difference using - operator:", difference_set_operator)

Difference (set1 - set2): {1, 2}
Difference using - operator: {1, 2}

In [ ]:
# Check if a set is a subset of another

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

print("Using <= operator:", set1 <= set2)

set1 is a subset of set2
Using <= operator: True

In [ ]:
#Remove an element from a set

my_set = {1, 2, 3, 4, 5}

my_set.remove(3)
print("Set after removing 3:", my_set)

my_set.discard(10)
print("Set after discarding 10 (no error if not present):", my_set)

Set after removing 3: {1, 2, 4, 5}
Set after discarding 10 (no error if not present): {1, 2, 4, 5}

Dictionaries

In [ ]:
# Create a dictionary and print keys & values

student = {
    "name": "Prajwal",
    "age": 21,
    "course": "B.E"
}

print("Dictionary:", student)

print("Keys:", student.keys())

print("Values:", student.values())

Dictionary: {'name': 'Prajwal', 'age': 21, 'course': 'B.E'}
Keys: dict_keys(['name', 'age', 'course'])
Values: dict_values(['Prajwal', 21, 'B.E'])

In [ ]:
# Find the sum of dictionary values

marks = {
    "maths": 85,
    "science": 78,
    "english": 92
}

total = sum(marks.values())

print("The sum of dictionary values is:", total)

The sum of dictionary values is: 255

In [ ]:
#Merge two dictionaries

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

merged_dict = dict1.copy()
merged_dict.update(dict2)
print("Merged dictionary (using update):", merged_dict)

merged_dict_operator = dict1 | dict2
print("Merged dictionary (using | operator):", merged_dict_operator)

Merged dictionary (using update): {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Merged dictionary (using | operator): {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Sort a dictionary by its values

marks = {"maths": 85, "science": 78, "english": 92, "history": 70}

sorted_marks = dict(sorted(marks.items(), key=lambda item: item[1]))
print("Dictionary sorted by values (ascending):", sorted_marks)

sorted_marks_desc = dict(sorted(marks.items(), key=lambda item: item[1], reverse=True))
print("Dictionary sorted by values (descending):", sorted_marks_desc)

Dictionary sorted by values (ascending): {'history': 70, 'science': 78, 'maths': 85, 'english': 92}
Dictionary sorted by values (descending): {'english': 92, 'maths': 85, 'science': 78, 'history': 70}

In [ ]:
# Count the occurrences of elements in a dictionary

marks = {"maths": 85, "science": 78, "english": 92, "history": 78}

occurrences = {}

for value in marks.values():
    if value in occurrences:
        occurrences[value] += 1
    else:
        occurrences[value] = 1

print("Occurrences of values:", occurrences)

Occurrences of values: {85: 1, 78: 2, 92: 1}

Mathematical Programs

In [ ]:
# Check if a number is prime or not

num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            print(num, "is not a prime number.")
            break
    else:
        print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a number: 18
18 is not a prime number.

In [ ]:
#Find the sum of digits of a number (eg: input: 1234 and output: 10)

num = int(input("Enter a number: "))

sum_digits = 0
temp = num

while temp > 0:
    digit = temp % 10
    sum_digits += digit
    temp //= 10

print("The sum of digits of", num, "is:", sum_digits)

Enter a number: 12345
The sum of digits of 12345 is: 15

In [ ]:
# Find the LCM of two numbers

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

lcm = (num1 * num2) // gcd(num1, num2)

print(f"The LCM of {num1} and {num2} is:", lcm)

Enter first number: 12
Enter second number: 15
The LCM of 12 and 15 is: 60

In [ ]:
# Find the GCD of two numbers

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

result = gcd(num1, num2)

print(f"The GCD of {num1} and {num2} is:", result)

Enter first number: 36
Enter second number: 60
The GCD of 36 and 60 is: 12

Functions

In [ ]:
#Define a function to find the sum of two numbers

def sum_two_numbers(a, b):
    return a + b

num1 = 10
num2 = 20
result = sum_two_numbers(num1, num2)

print("The sum of", num1, "and", num2, "is:", result)

The sum of 10 and 20 is: 30

In [ ]:
#Define a function to return the square of a number

def square(number):
    return number ** 2

num = 5
result = square(num)

print("The square of", num, "is:", result)

The square of 5 is: 25

In [ ]:
#Define a function with default arguments

def greet(name="User", message="Welcome to Python!"):
    print(f"Hello, {name}! {message}")

greet()

greet("Prajwal")

greet("Prajwal", "Have a great day!")

Hello, User! Welcome to Python!
Hello, Prajwal! Welcome to Python!
Hello, Prajwal! Have a great day!

In [ ]:
#Define a function with variable-length arguments

def sum_all(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print("Sum:", sum_all(1, 2, 3))
print("Sum:", sum_all(4, 5, 6, 7, 8))
print("Sum:", sum_all())

Sum: 6
Sum: 30
Sum: 0

In [ ]:
#Define a function that returns multiple values

def square_and_cube(number):
    square = number ** 2
    cube = number ** 3
    return square, cube

num = 4
sq, cu = square_and_cube(num)

print(f"The square of {num} is {sq} and the cube is {cu}.")

The square of 4 is 16 and the cube is 64.

Lambda Functions

In [ ]:
#Use a lambda function to add two numbers

add = lambda a, b: a + b

num1 = 10
num2 = 20
result = add(num1, num2)

print("The sum of", num1, "and", num2, "is:", result)

The sum of 10 and 20 is: 30

In [ ]:
#Use a lambda function to find the maximum of two numbers

maximum = lambda a, b: a if a > b else b

num1 = 15
num2 = 25
result = maximum(num1, num2)

print(f"The maximum of {num1} and {num2} is:", result)

The maximum of 15 and 25 is: 25

In [ ]:
#Use a lambda function to square a number

square = lambda x: x ** 2

num = 6
result = square(num)

print(f"The square of {num} is:", result)

The square of 6 is: 36

In [ ]:
#Use a lambda function inside map()

numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x ** 2, numbers))

print("Original numbers:", numbers)
print("Squared numbers:", squared_numbers)

Original numbers: [1, 2, 3, 4, 5]
Squared numbers: [1, 4, 9, 16, 25]

In [ ]:
#Use a lambda function inside filter()

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print("Original numbers:", numbers)
print("Even numbers:", even_numbers)

Original numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers: [2, 4, 6, 8, 10]

List Comprehensions

In [ ]:
#Generate a list of squares using list comprehension

numbers = [1, 2, 3, 4, 5]

squares = [x**2 for x in numbers]

print("Original numbers:", numbers)
print("Squares:", squares)

Original numbers: [1, 2, 3, 4, 5]
Squares: [1, 4, 9, 16, 25]

In [ ]:
#Generate a list of even numbers using list comprehension

even_numbers = [x for x in range(1, 21) if x % 2 == 0]

print("Even numbers from 1 to 20:", even_numbers)

Even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Reverse a list using list comprehension

numbers = [1, 2, 3, 4, 5]

reversed_list = [numbers[i] for i in range(len(numbers)-1, -1, -1)]

print("Original list:", numbers)
print("Reversed list:", reversed_list)

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

In [ ]:
#Flatten a nested list using list comprehension

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

flat_list = [item for sublist in nested_list for item in sublist]

print("Nested list:", nested_list)
print("Flattened list:", flat_list)

Nested list: [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Find common elements in two lists using list comprehension

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = [x for x in list1 if x in list2]

print("List1:", list1)
print("List2:", list2)
print("Common elements:", common_elements)

List1: [1, 2, 3, 4, 5]
List2: [4, 5, 6, 7, 8]
Common elements: [4, 5]

Miscellaneous

In [ ]:
# Swap two numbers without using a third variable

a = 10
b = 20

print("Before swapping: a =", a, "b =", b)

a = a + b
b = a - b
a = a - b

print("After swapping: a =", a, "b =", b)

Before swapping: a = 10 b = 20
After swapping: a = 20 b = 10

In [ ]:
#Count occurrences of each word in a sentence

sentence = input("Enter a sentence: ")

words = sentence.split()

word_count = {}

for word in words:
    word = word.lower()
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print("Word occurrences:", word_count)

Enter a sentence: Python is fun and Python is easy
Word occurrences: {'python': 2, 'is': 2, 'fun': 1, 'and': 1, 'easy': 1}

In [ ]:
#Find the second largest number in a list

numbers = [12, 45, 7, 89, 34, 89]

unique_numbers = list(set(numbers))
unique_numbers.sort()

second_largest = unique_numbers[-2]

print("The second largest number is:", second_largest)

The second largest number is: 45

In [ ]:
#Check if two strings are anagrams

str1 = input("Enter first string: ").replace(" ", "").lower()
str2 = input("Enter second string: ").replace(" ", "").lower()

if sorted(str1) == sorted(str2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter first string: Listen
Enter second string: Silent
The strings are anagrams.

In [ ]:
#Print Pascal's Triangle

rows = int(input("Enter the number of rows: "))

def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

for i in range(rows):

    print(" " * (rows - i - 1), end="")
    for j in range(i + 1):

        print(factorial(i) // (factorial(j) * factorial(i - j)), end=" ")
    print()

Enter the number of rows: 6
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1